@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  /*основний колір тексту*/
  --title-text-color: #757575;
  /*другорядний колір тексту*/
  --accent-color: #2196F3;
  /*акцент*/
  --logo-color: #000000;
  --primary-background: #FFFFFF;
  /*основний колір фону*/
  --secondary-background: #F5F4FA;
  /*другорядний колір фону*/
  --color-border-galary: #EEEEEE;
  --color-icon: #afb1b8;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --main-footer-background: #2F303A;
  --color-border-header: rgba(236, 236, 236, 1);
  --color-galary-element: rgba(238, 238, 238, 1);
  --color-img-overlay: rgba(47, 48, 58, 0.4);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background);
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
  visibility: hidden;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 206px;
  height: 44px;
  padding: 0;
  margin: 0 auto;
}
.social-list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-background);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__icon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--color-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__links:hover .social-list__icon, .social-list__links:focus .social-list__icon {
  fill: var(--primary-background);
}
.social-list__icon:hover, .social-list__icon:focus {
  fill: var(--primary-background);
}
.social-list__links:hover, .social-list__links:focus {
  background-color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--color-border-header);
  position: relative;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}
@media screen and (max-width: 767px) {
  .container-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.container-nav__menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--primary-text-color);
  cursor: pointer;
  z-index: 990;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 768px) {
  .container-nav__menu-button {
    display: none;
  }
}
.container-nav__menu-button:hover, .container-nav__menu-button:focus {
  fill: var(--accent-color);
}
.container-nav__menu-button .icon--open {
  display: none;
}
.container-nav__menu-button.is-open .icon--open {
  display: block;
}
.container-nav__menu-button .icon--close {
  display: block;
}
.container-nav__menu-button.is-open .icon--close {
  display: none;
}
@media screen and (max-width: 767px) {
  .container-nav__mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background);
    text-align: center;
    padding: 48px 40px;
    z-index: 900;
  }
  .container-nav__mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .container-nav__mobile-menu.is-open {
    overflow-y: scroll;
  }
}
@media (min-width: 768px) {
  .container-nav__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 94px;
  }
}
@media (min-width: 1200px) {
  .container-nav__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 300px;
  }
}
.container-nav__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 768px) {
  .container-nav__social-list {
    display: none;
  }
}
.container-nav__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
.container-nav__social-link {
  padding-right: 10px;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .container-nav__link {
    margin-left: 88px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .container-nav__link {
    margin-left: 93px;
    margin-bottom: 0px;
  }
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .menu-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
.menu-nav__item {
  display: inline-block;
}
.menu-nav__link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-nav__link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.menu-nav__link:hover, .menu-nav__link:focus, .menu-nav__link--current, .menu-nav__link--current:active {
  color: var(--accent-color);
}
.menu-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media screen and (max-width: 767px) {
  .menu-nav__link--current::after {
    display: none;
  }
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .contact-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    margin-top: auto;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    gap: 30px;
  }
}
.contact-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact-nav__link {
    margin-left: auto;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (max-width: 767px) {
  .contact-nav__tel {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contact-nav__tel {
    margin-right: 13px;
  }
}
@media screen and (max-width: 767px) {
  .contact-nav__e-mail {
    font-size: 24px;
  }
}
.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 768px) {
  .contact-nav__envelope {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact-nav__envelope {
    width: 14px;
    height: 10px;
    margin-right: 10px;
    fill: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav__envelope {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}
.contact-nav__link:hover .contact-nav__envelope, .contact-nav__link:focus .contact-nav__envelope {
  fill: var(--accent-color);
}
@media screen and (max-width: 768px) {
  .contact-nav__smartphone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact-nav__smartphone {
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: var(--title-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav__smartphone {
    margin-right: 10px;
    height: 16px;
  }
}
.contact-nav__smartphone__link:hover .contact-nav__smartphone, .contact-nav__smartphone__link:focus .contact-nav__smartphone {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, transform, opacity;
  transition-property: visibility, transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.modal {
  -webkit-transform: scaleX(0.9) translate(-50%, -50%);
          transform: scaleX(0.9) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scaleX(1) translate(-50%, -50%);
          transform: scaleX(1) translate(-50%, -50%);
  min-width: 450px;
  background-color: var(--primary-background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}
.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  fill: var(--logo-color);
  background-color: var(--primary-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--main-footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
  }
}
.footer-container__left {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .footer-container__left {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container__left {
    text-align: left;
  }
}
.footer-container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-container__links {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container__links {
    margin-left: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer-info {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
}
@media screen and (min-width: 1199px) {
  .footer-info {
    margin-bottom: 9px;
  }
}
.footer-info__contact {
  color: var(--footer-contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer-info__address {
  color: var(--primary-background);
}
@media screen and (max-width: 767px) {
  .footer-info {
    text-align: center;
  }
}
.footer-info:last-child {
  margin-bottom: 0;
}
.footer__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-background);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}
.footer__social-icon {
  fill: var(--primary-background);
}
.footer__social-links {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-links:focus, .footer__social-links:hover {
  background-color: var(--accent-color);
}

.button {
  color: var(--primary-background);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid transparent;
}
@media screen and (max-width: 480px) {
  .button {
    padding: 10px 24px;
  }
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  padding-right: 0;
  text-decoration: none;
}
.logo--accent {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__logo {
  color: var(--primary-background);
  text-decoration: none;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  padding-right: 0;
}
@media screen and (max-width: 780px) {
  .footer__logo {
    text-align: center;
  }
}

.form-main {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px 40px 40px;
}
@media screen and (min-width: 1200px) {
  .form-main {
    width: 528px;
  }
}
.form-main__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-text-color);
  padding-top: 40px;
  padding-bottom: 12px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .form-main__title {
    line-height: 1.15;
  }
}
.form-main__button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-field__label {
  margin-bottom: 4px;
  text-align: left;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}
.form-field__container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.form-field__input {
  width: 100%;
  min-height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  color: var(--primary-text-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  margin: 0;
}
.form-field__input, .form-field__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus, .form-field__textarea:focus {
  border: 1px solid var(--accent-color);
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__icon:focus {
  fill: var(--accent-color);
}
.form-field__input:focus + .form-field__icon:focus {
  fill: var(--accent-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
  background-size: contain;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.checkbox__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__title {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__title--link {
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer-form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 93px;
  }
}
.footer-form__input {
  margin: 0 0 20px 0;
  padding: 15px 16px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-footer-background);
  outline: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 479px) {
  .footer-form__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}
.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.section-main {
  background-color: var(--main-footer-background);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img480@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img480@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .section-main {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-main {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img768@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img768@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-main {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section-main {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img1600@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img1600@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-main {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img1600@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img1600@2x.jpg);
  }
}
.section-main__title {
  color: var(--primary-background);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-main__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.section__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}
.features-list__subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .features-list__subtitle {
    text-align: center;
  }
}
.features-list__description {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
}
.features-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-color: var(--secondary-background);
}
@media screen and (min-width: 768px) {
  .features-list__image {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__image {
    width: 270px;
  }
}
.features-list__icon {
  height: 70px;
  width: 70px;
}

.section-services {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section-services {
    display: none;
  }
}

.services-list__item {
  position: relative;
}
.services-list__block {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.services-list__subtitle {
  font-family: inherit;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-background);
  margin-bottom: 0;
}
.services-list__item {
  margin-right: 30px;
}
.services-list__item:last-child {
  margin-right: 0;
}

.section-team {
  background-color: var(--secondary-background);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.team-list__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background);
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
  }
}
.team-list__card {
  padding: 30px 32px;
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.team-list__subtitle {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.client-list__item {
  margin: 15px;
}
.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
  fill: var(--color-icon);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 780px) {
  .client-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__link {
    width: 170px;
  }
}
.client-list__icon {
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
  fill: rgb(33, 150, 243);
}
.client-list__link:hover, .client-list__link:focus {
  border: 1px solid rgb(33, 150, 243);
}

.portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-btn {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-btn {
    margin-bottom: 50px;
  }
}
.portfolio-btn__button {
  background-color: var(--secondary-background);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border: 1px solid transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn__button:hover, .portfolio-btn__button:focus, .portfolio-btn__button--current {
  background-color: var(--accent-color);
  color: var(--primary-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list__item {
  width: 450px;
  border: 1px solid var(--color-galary-element);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: 370px;
  }
}
.portfolio-list__item:hover, .portfolio-list__item:focus {
  border: 1px solid var(--color-border-galary);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background-color: var(--primary-background);
}
.portfolio-list__item:hover .portfolio-list__block {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-list__block--hidden {
  position: relative;
  overflow: hidden;
}
.portfolio-list__block {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px 75px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-list__block {
    width: 354px;
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__block {
    width: 370px;
    padding: 63px 24px;
  }
}
.portfolio-list__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-background);
}
.portfolio-list__card {
  padding: 20px 24px;
}
.portfolio-list__title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-align: left;
}
.portfolio-list__subtitle {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  margin-bottom: 0;
}
.portfolio-list__link {
  font-size: 14px;
  line-height: 1.143;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */