.form-main {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px 40px 40px;
    
    &__title {
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            color: var(--primary-text-color);
            padding-top: 40px;
            padding-bottom: 12px;
            margin: 0;
        }
    &__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
    &__label {
            margin-bottom: 4px;
            text-align: left;
            font-family: inherit;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: var(--title-text-color);
        }
    
    &__container {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }
    
    &__input {
            width: 100%;
            min-height: 40px;
            padding-left: 42px;
            padding-right: 12px;
            color: var(--primary-text-color);
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__textarea {
            display: block;
            padding: 12px 16px;
            width: 100%;
            min-height: 120px;
            font-family: inherit;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
            resize: none;
            margin: 0;
        }
    
    &__input,
    &__textarea {
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            outline: none;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__input:focus,
    &__textarea:focus {
            border: 1px solid var(--accent-color);
        }
    
    &__icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            fill: var(--primary-text-color);
    
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__icon:focus {
            fill: var(--accent-color);

            .form-field__input:focus+& {
                    fill: var(--accent-color);
                        }
        }
}



.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    
    &__icon {
            width: 16px;
            height: 15px;
            margin-right: 8.38px;
            border: 2px solid var(--primary-text-color);
            border-radius: 2px;
    
            .checkbox__input:checked+& {
                border-color: var(--accent-color);
                background-color: var(--accent-color);
                background-origin: border-box;
                background-size: contain;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            }
        }
    
    
    
    &__title {
            font-family: inherit;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--title-text-color);
        }
    
    &__title--link {
            color: var(--accent-color);
            text-decoration-line: underline;
        }
}

.footer-form {
        // margin-top: 0;
        text-align: center;
@media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-end;
        margin-left: 93px;
    }
&__field{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
// @media screen and (min-width: 1200px){
//         flex-direction: row;
//     }

}
    &__input {
            // display: block;
            margin: 0 0 20px 0;
            padding: 15px 16px;
            min-height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color: var(--main-footer-background);
            outline: none;
    
            font-family: inherit;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
    
    @media screen and (max-width: 479px){
            max-width: 450px;
    }
    @media screen and (min-width: 480px) {
            width: 450px;
    }

    @media screen and (min-width: 1200px) {
            width: 358px; 
            margin-bottom: 0;        }
}
    &__input::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    
    &__button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;

    @media screen and (min-width: 1200px) {
            margin-left: 12px;
        }
    }
    
    &__icon {
            margin-left: 10px;
            width: 24px;
            height: 24px;
        }
}

