.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 206px;
    height: 44px;
    padding: 0;
    margin: 0 auto;

    // &__item{
    //     margin-left: 10px;
    // }

    &__links {
            // display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            padding: 12px;
            border: none;
            border-radius: 50%;
            background-color: var(--primary-background);
    
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    fill: var(--color-icon);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__links:hover &,
    .social-list__links:focus & {
            fill: var(--primary-background);
        }
}

    &__icon:hover,
    &__icon:focus {
        fill: var(--primary-background);
}

    &__links:hover,
    &__links:focus {
        background-color: var(--accent-color);
    }
}

