html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-background);
    letter-spacing: 0.03em;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.list {
    list-style: none;
}