
.contact-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    @media screen and (max-width: 767px) {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 32px;
        margin-top: auto;
        margin-bottom: auto;
    }    

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: auto;
        gap: 30px;
    }

    &__link {

        color: var(--title-text-color);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           
        @media screen and (min-width: 1200px) {
            margin-left: auto;

            font-size: 14px;
            line-height: 1.14;
        }
    }
    
    &__tel {
        @media screen and (max-width: 767px) {
                font-size: 34px;
            }
    
        @media screen and (min-width: 768px) {
                margin-right: 13px;
            }
    }

    &__e-mail{
        @media screen and (max-width: 767px) {
                font-size: 24px;
            }
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
             }

    &__envelope {
        
    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
        margin-right: 10px;
        fill: var(--title-text-color);
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;  
        width: 16px;
        height: 12px;
        }

        .contact-nav__link:hover &,
        .contact-nav__link:focus & {
            fill: var(--accent-color);
        }
    }
    
    &__smartphone {
    @media screen and (max-width: 768px) {
            display: none;
        }
    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
        margin-right: 10px;
        fill: var(--title-text-color);
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        height: 16px;
    }

    &__link:hover &,
    &__link:focus & {
            fill: var(--accent-color);
        }

    }
    
}



