.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.container-nav {
    display: flex;
    align-items: center;
    min-height: 60px;
   
    @media screen and (max-width: 767px) {
    justify-content:space-between;
    }

    &__menu-button{
        
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent; 
        color: var(--primary-text-color);     
        cursor: pointer;
        z-index: 990;
        justify-content: flex-end;
        
        @media (min-width:768px) {
            display: none;
        }

    }

    &__menu-button:hover,
    &__menu-button:focus {
        fill: var(--accent-color);
    }

    &__menu-button .icon--open {
        display: none;
    }

    &__menu-button.is-open .icon--open {
        display: block;
    }

    &__menu-button .icon--close {
        display: block;    
    }

    &__menu-button.is-open .icon--close {
        display: none;
        }

    &__mobile-menu{
   
        @media screen and (max-width: 767px){
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 796px;
        background-color: var(--primary-background);
        text-align: center;
        padding: 48px 40px;
        z-index: 900;
        }

        &.is-open{
            display: block;
        }

        @media (min-width:768px) {
            display: flex;  
            gap: 94px;
        }

        @media (min-width:1200px) {
            display: flex;
            align-items: center;
            gap: 300px;
        }
    }

    &__social-list{
            display: flex;
            margin-top: 64px;
            justify-content: flex-start;

    @media (min-width:768px) {
                display: none;
            }
    }

    &__social-item:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, .2);
            margin-right: 10px;
    }

    &__social-link {
            padding-right: 10px;
            text-decoration: none;
            color: var(--accent-color);

            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }


    &__link{
        @media screen and (max-width: 767px){
            margin-bottom: 302px;
        }

        @media screen and (min-width: 768px){
            margin-left: 88px;
            margin-bottom: 0px;
        }
        @media screen and (min-width: 1200px){
            margin-left: 93px;
            margin-bottom: 0px;
        }
    }

    
    }

