.menu-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

@media screen and (min-width: 768px){
    flex-direction: row;
    gap: 50px;
}

    &__item {
            display: inline-block;
    }
  
    &__link {
            position: relative;
    
            display: block;
            color: var(--primary-text-color);
            font-weight: 500;
            font-size: 40px;
            line-height: 1.175;
            letter-spacing: 0.02em;
            text-decoration: none;
    
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;  
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
    
    &__link:hover,
    &__link:focus,
    &__link--current,
    &__link--current:active {
            color: var(--accent-color);
        }
    
    &__link--current::after {
            position: absolute;
            bottom: 0;
            left: 0;
    
            display: block;
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 2px;
            bottom: -1px;
            background-color: var(--accent-color);
    
            transform: translateY(100%);

    @media screen and (max-width: 767px) {
            display: none;
    }
            }
}

